{% extends "d_updates.html" %}

{% block data_content %}
<link rel="stylesheet" href="static/button.css">
<style>
    h2 {
        font-size: 14px;
        font-family: Tahoma, sans-serif;
    }
    .error-message {
        color: red;
        margin-top: -20px;
        padding: 5px;
    }
    .form-label {
        display: inline-block;
        font-family: Tahoma, sans-serif;
        width: 150px;
        text-align: right;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        margin-bottom: 10px; /* Added margin-bottom for spacing */
    }
    select {
        font-size: 12px;
    }
    .success-message {
        color: green;
        margin-top: 10px;
        font-size: 14px;
    }
    input[type="submit"] {
        margin-left: 170px;
        margin-top: 10px;
        background-color: #cccccc;
    }

</style>
<div class="form">
    <h2>Add Debug Log</h2>
    <form method="post" action="/add_debug_log">
        <label for="date" class="form-label">Date:</label>
        <input type="date" id="date" name="date" required>
        <br>
        <label for="pod_name" class="form-label">Pod Name:</label>
        <select id="pod_name" name="pod_name" required>
            <option value="Pod 1">Pod 1</option>
            <option value="Pod 2">Pod 2</option>
            <option value="Pod 3">Pod 3</option>
            <!-- Add more options as needed -->
        </select>
        <br>
        <label for "application" class="form-label">Application:</label>
        <select id="application" name="application" required>
            <option value="App 1">App 1</option>
            <option value="App 2">App 2</option>
            <option value="App 3">App 3</option>
            <!-- Add more options as needed -->
        </select>
        <br>
        <label for="node_names" class="form-label">Node Names:</label>
        <input type="text" id="node_names" name="node_names" required>
        <br>
        <label for="jira_id" class="form-label">Jira ID (SO- or PI-):</label>
        <input type="text" id="jira_id" name="jira_id" required>
        <br>
        <label for="jira_status" class="form-label">Jira Status:</label>
        <select id="jira_status" name="jira_status" required>
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
            <!-- Add more options as needed -->
        </select>
        <br>
        <input type="submit" value="Add Debug Log" id="submit-button" disabled>
    </form>
</div>

<script>
    const inputs = document.querySelectorAll('input[type="text"]');
    const dateInput = document.getElementById('date');
    const submitButton = document.getElementById('submit-button');

    // Set the date input to the current date (today)
    const currentDate = new Date();
    const year = currentDate.getFullYear();
    const month = String(currentDate.getMonth() + 1).padStart(2, '0');
    const day = String(currentDate.getDate()).padStart(2, '0');
    dateInput.value = `${year}-${month}-${day}`;

    inputs.forEach(input => {
        input.addEventListener('input', () => {
            const isAnyInputFilled = Array.from(inputs).some(input => input.value.trim() !== '');
            submitButton.disabled = !isAnyInputFilled;
        });
    });
</script>
{% endblock %}

